In [1]:
import numpy as np
import pandas as pd
import statsmodels.api as sm
from statsmodels import regression
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv("C:\\Users\\user\\Downloads\\Nat_Gas.csv")

In [3]:
df.describe()

          Prices
count  48.000000
mean   11.207083
std     0.757897
min     9.840000
25%    10.650000
50%    11.300000
75%    11.625000
max    12.800000

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48 entries, 0 to 47
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Dates   48 non-null     object
 1   Prices  48 non-null     float64
dtypes: float64(1), object(1)
memory usage: 900.0+ bytes

In [5]:
df.columns

Index(['Dates', 'Prices'], dtype='object')

In [6]:
# Print the DataFrame to inspect the 'Dates' column
print("Original DataFrame:")
print(df)

# Function to print the price for a given date
def print_price_for_date(input_date):
    try:
        input_date = pd.to_datetime(input_date)
        print("DataFrame after conversion:")
        df['Dates'] = pd.to_datetime(df['Dates'])
        print(df)
        
        price = df.loc[df['Dates'] == input_date, 'Prices'].values[0]
        print(f'The price on {input_date} is: {price}')
    except IndexError:
        print(f'No data found for {input_date}')

# Example usage
input_date = input('Enter the date (YYYY-MM-DD): ')
print_price_for_date(input_date)

Original DataFrame:
       Dates  Prices
0   10/31/20   10.10
1   11/30/20   10.30
2   12/31/20   11.00
3    1/31/21   10.90
4    2/28/21   10.90
5    3/31/21   10.90
6    4/30/21   10.40
7    5/31/21    9.84
8    6/30/21   10.00
9    7/31/21   10.10
10   8/31/21   10.30
11   9/30/21   10.20
12  10/31/21   10.10
13  11/30/21   11.20
14  12/31/21   11.40
15   1/31/22   11.50
16   2/28/22   11.80
17   3/31/22   11.50
18   4/30/22   10.70
19   5/31/22   10.70
20   6/30/22   10.40
21   7/31/22   10.50
22   8/31/22   10.40
23   9/30/22   10.80
24  10/31/22   11.00
25  11/30/22   11.60
26  12/31/22   11.60
27   1/31/23   12.10
28   2/28/23   11.70
29   3/31/23   12.00
30   4/30/23   11.50
31   5/31/23   11.20
32   6/30/23   10.90
33   7/31/23   11.40
34   8/31/23   11.10
35   9/30/23   11.50
36  10/31/23   11.80
37  11/30/23   12.20
38  12/31/23   12.80
39   1/31/24   12.60
40   2/29/24   12.40
41   3/31/24   12.70
42   4/30/24   12.10
43   5/31/24   11.40
44   6/30/24   11.50
45   7/31/24   11.60
46   8/31/24   11.50
47   9/30/24   11.80
Enter the date (YYYY-MM-DD): 2020-10-31
DataFrame after conversion:
        Dates  Prices
0  2020-10-31   10.10
1  2020-11-30   10.30
2  2020-12-31   11.00
3  2021-01-31   10.90
4  2021-02-28   10.90
5  2021-03-31   10.90
6  2021-04-30   10.40
7  2021-05-31    9.84
8  2021-06-30   10.00
9  2021-07-31   10.10
10 2021-08-31   10.30
11 2021-09-30   10.20
12 2021-10-31   10.10
13 2021-11-30   11.20
14 2021-12-31   11.40
15 2022-01-31   11.50
16 2022-02-28   11.80
17 2022-03-31   11.50
18 2022-04-30   10.70
19 2022-05-31   10.70
20 2022-06-30   10.40
21 2022-07-31   10.50
22 2022-08-31   10.40
23 2022-09-30   10.80
24 2022-10-31   11.00
25 2022-11-30   11.60
26 2022-12-31   11.60
27 2023-01-31   12.10
28 2023-02-28   11.70
29 2023-03-31   12.00
30 2023-04-30   11.50
31 2023-05-31   11.20
32 2023-06-30   10.90
33 2023-07-31   11.40
34 2023-08-31   11.10
35 2023-09-30   11.50
36 2023-10-31   11.80
37 2023-11-30   12.20
38 2023-12-31   12.80
39 2024-01-31   12.60
40 2024-02-29   12.40
41 2024-03-31   12.70
42 2024-04-30   12.10
43 2024-05-31   11.40
44 2024-06-30   11.50
45 2024-07-31   11.60
46 2024-08-31   11.50
47 2024-09-30   11.80
The price on 2020-10-31 00:00:00 is: 10.1

C:\Users\user\AppData\Local\Temp\ipykernel_16620\3332802838.py:10: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df['Dates'] = pd.to_datetime(df['Dates'])

In [8]:
from sklearn.linear_model import LinearRegression
# Ensure 'Dates' column is in datetime format
df['Dates'] = pd.to_datetime(df['Dates'])

# Function to extrapolate prices for one year
def extrapolate_prices():
    # Fit a linear regression model
    model = LinearRegression()
    X = pd.to_numeric(df['Dates']).values.reshape(-1, 1)
    y = df['Prices'].values
    model.fit(X, y)

    # Generate dates for the next year
    last_date = df['Dates'].max()
    next_year_dates = pd.date_range(last_date, periods=365, freq='D')

    # Predict prices for the next year
    next_year_prices = model.predict(pd.to_numeric(next_year_dates).values.reshape(-1, 1))

    # Create a DataFrame for the extrapolated prices
    extrapolated_df = pd.DataFrame({'Dates': next_year_dates, 'Prices': next_year_prices})

    return extrapolated_df

# Extrapolate prices for one year
extrapolated_prices = extrapolate_prices()

# Print the extrapolated prices
print("Extrapolated Prices for One Year:")
print(extrapolated_prices)

Extrapolated Prices for One Year:
         Dates     Prices
0   2024-09-30  12.124835
1   2024-10-01  12.126118
2   2024-10-02  12.127400
3   2024-10-03  12.128682
4   2024-10-04  12.129965
..         ...        ...
360 2025-09-25  12.586490
361 2025-09-26  12.587772
362 2025-09-27  12.589055
363 2025-09-28  12.590337
364 2025-09-29  12.591619

[365 rows x 2 columns]